<body>
  <header>
    <div class="contenedor_logo">
      <h2>LOGO</h2>
    </div>
    <div class="contenedor_links">
      <a href="" class="link_menu">Inicio</a>
      <a href="" class="link_menu">Almacén de Historias</a>
      <a href="" class="link_menu">Almacén de Cultura</a>
      <a href="" class="link_menu">Guarida de Resistencia</a>
      <a href="" class="link_menu">Contacto</a>
    </div>
    <div class="contenedor_icono">
      <a href="" class="btn_salida"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
  </header>
  
  
  <app-inicio></app-inicio>
  
  <footer>
    <p>contenido footer</p>
  </footer>
</body>
