<div class="container">
    <div class="cuadro">
        <div class="video"></div>
    </div>
    <div class="cuadro">
        <div class="video"></div>
    </div>
    <div class="cuadro">
        <div class="video"></div>
    </div>
    <div class="cuadro_2">
        <div class="img"></div>
        <p class="titulo">Titulo</p>
        <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora culpa voluptate iure distinctio quaerat deleniti. Exercitationem officia quidem consequatur atque ducimus iusto. Ullam, tempora recusandae sequi excepturi veritatis consequatur consequuntur.</p>
    </div>
    <div class="cuadro_2">
        <div class="img"></div>
        <p class="titulo">Titulo</p>
        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sapiente maiores beatae, corporis architecto quae tenetur dolore nisi, eos quo quasi aliquid culpa ducimus rem repellendus, distinctio commodi laudantium totam.</p>
    </div>
    <div class="cuadro_2">
        <div class="img"></div>
        <p class="titulo">Titulo</p>
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis laborum illo ab ad ut obcaecati ratione veritatis ipsa aut aperiam sit voluptatibus minus consequuntur praesentium repellendus, autem, odio tempore.</p>
    </div>
</div>
